$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
$md:768px;
$lg:992px;
$xl: 1200px;
$spacer: 40px !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .2),
  2: ($spacer * .4),
  3: ($spacer * .5),
  4: $spacer,
  5: ($spacer * 1.5),
  6: ($spacer * 2)
), $spacers);
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}
@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
